html,

body {
  height: 100%;
}

body {
  background-color: #121212;
  color: #FFFFFF;
}

.list-group {
  width: 100%;
  padding: 50px;
  margin: auto;
  max-width: 330px;
}

.list-group-item {
  background-color: #262626;
}

.navbar{
  background-color: #202020;
}
.navbar-brand {
  color: #FFFFFF;
}

.navbar-custom-footer{ 
  background-color: #121212; 
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 0;
  list-style: none;
  font-size: small;
} 

.full-width {
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 50px;
  margin: auto;
}

.not-found {
  align-items: center;
  margin: auto;
}

.form-signin {
  max-width: 340px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  border-radius: 0;
  margin-bottom: -1px;
}
.form-signin img {
  width: 60%;
  height: 60%;
}
.form-signin footer {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin-top: -200px;
}
.form-signin input:first-of-type {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.form-signin input:last-of-type {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  margin-bottom: 10px;
}