<div class="full-width text-center">
  <img class="logo" src="/images/logo_signin.ico">
  <pre></pre><pre></pre><pre></pre>
  <h4 class="h4 mb-4 font-weight-normal">Error 404: Not Found</h4>
  <pre></pre><pre></pre>
  <pre></pre>
</div>