<form method="POST" action="/auth" class="form-signin full-width text-center">
  <img class="logo" style="width:100%;height:100%" src="/images/logo_signin.ico" alt="Junket_Logo">
  <pre></pre><pre></pre><pre></pre>
  <h4 class="h4 mb-4 font-weight-normal">Welcome to Wen</h4>
  <pre></pre><pre></pre>
  <label for="token" class="sr-only">Token</label>
  <input type="password" name="token" class="form-control" placeholder="Token" required autofocus>
  <button class="btn btn-md btn-secondary btn-block" type="submit">Log in</button>
  <pre></pre>
  <p>{{message}}</p>
</form>
