<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand">Wen</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="btn btn-outline-secondary btn-sm " href="/clients">Home</a>
          <a class="btn btn-outline-secondary btn-sm " href="/clients/add">Add Hospital</a>
          <a class="btn btn-outline-secondary btn-sm " href="/clients/change">Change Occupied Beds</a>
          <a class="btn btn-outline-danger btn-sm " href="/clients/del">Delete Hospital</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="btn btn-outline-secondary btn-sm " href="/auth/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<pre></pre>

<form onsubmit="return false;" id="form-add" class="form-signin full-width text-center">
  <h1 class="h3 mb-3 font-weight-normal">New Hospital</h1>
  <label for="name" class="sr-only">Name</label>
  <input type="text" name="name" class="form-control" placeholder="Name" required autofocus>
  <label for="address" class="sr-only">Address</label>
  <input type="text" name="address" class="form-control" placeholder="Address" required autofocus>
  <label for="occupied" class="sr-only">Occupied Beds</label>
  <input type="text" name="occupied" class="form-control" placeholder="Occupied Beds" required autofocus>
  <label for="capacity" class="sr-only">Total Beds</label>
  <input type="text" name="capacity" class="form-control" placeholder="Total Beds" required autofocus>
  <pre></pre>
  <button id="button-add" class="btn btn-md btn-primary btn-block" type="submit">Create</button>
  <pre></pre>
  <pre></pre>
  <button class="btn btn-sm btn-secondary btn-block" type="button" onclick="window.location.href = '/';">Back</button>
  <pre></pre>
</form>

<script src="/scripts/add.js"></script>