<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand">Wen</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="btn btn-outline-secondary btn-sm " href="/clients">Home</a>
          <a class="btn btn-outline-secondary btn-sm " href="/clients/add">Add Hospital</a>
          <a class="btn btn-outline-secondary btn-sm " href="/clients/change">Change Occupied Beds</a>
          <a class="btn btn-outline-danger btn-sm " href="/clients/del">Delete Hospital</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="btn btn-outline-secondary btn-sm " href="/auth/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="full-width text-center">
  <pre></pre><pre></pre><pre></pre>
  <table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
      <th scope="col">ADDRESS</th>
      <th scope="col">OCCUPIED BEDS</th>
      <th scope="col">TOTAL BEDS</th>
    </tr>
  </thead>
  <tbody id="places"></tbody>
</table>
</div>
<script src="/scripts/client.js"></script>