<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand">Wen</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="btn btn-outline-secondary btn-sm " href="/clients">Home</a>
            <a class="btn btn-outline-secondary btn-sm " href="/clients/add">Add Hospital</a>
            <a class="btn btn-outline-secondary btn-sm " href="/clients/change">Change Occupied Beds</a>
            <a class="btn btn-outline-danger btn-sm " href="/clients/del">Delete Hospital</a>
        </li>
        </ul>
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="btn btn-outline-secondary btn-sm " href="/auth/logout">Logout</a>
        </li>
        </ul>
    </div>
</nav>

<pre></pre>
<pre></pre>

<form onsubmit="return false;" id="form-add" class="form-signin full-width text-center">
    <h1 class="h3 mb-3 font-weight-normal">Delete Hospital</h1>
    <label for="login" class="sr-only">Input Hospital ID</label>
    <input type="text" name="login" class="form-control" placeholder="Hospital ID" required autofocus>
    <pre></pre>
    <button id="button-add" class="btn btn-md btn-danger btn-block" type="submit">Delete</button>
    <pre></pre>
    <pre></pre>
    <pre></pre>
    <button class="btn btn-sm btn-secondary btn-block" type="button" onclick="window.location.href = '/';">Back</button>
    <pre></pre>
</form>

<script src="/scripts/del.js"></script>